<%= provide(:title, "Product Details") %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @product.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_path %>
          </li>
          <li class="active"><%= @product.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @product.images.each.with_index do |img, i| %>
                  <div class="item<%=" active" if i.zero? %>" data-thumb="<%= i %>">
                    <%= image_tag img.attachment.url(:large) %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% @product.images.each.with_index do |img, i|%>
                    <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
                      <%= image_tag img.attachment.url(:small) %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                <li><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a></li>
              <% end %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <% if @product.product_option_types.exists? %>
              <span class="quick-drop">
                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                  <%= options_from_collection_for_select @product.option_types.first.try(:option_values), 'id', 'presentation' %>
                </select>
              </span>
            <% end %>
            <span class="quick-drop resizeWidth">
              <select name="guiest_id4" id="guiest_id4" class="select-drop">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="columns six alpha" data-hook="product_left_part">
              <div class="row" data-hook="product_left_part_wrap">
                <div data-hook="product_properties">
                  <% if @product_properties.present? %>
                    <h5 class="product-section-title"><%= t('spree.properties')%></h5>
                    <table id="product-properties" class="table-display" data-hook>
                      <tbody>
                        <% @product_properties.each do |product_property| %>
                          <% css_class = cycle('even', 'odd', name: "properties") %>
                          <tr class="<%= css_class %>">
                            <td><strong><%= product_property.property.presentation %></strong></td>
                            <td><%= product_property.value %></td>
                          </tr>
                        <% end %>
                        <% reset_cycle('properties') %>
                      </tbody>
                    </table>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'potepan/products/related_products', related_products: @related_products %>
  </div>
</section>
